.barra-logo{
    position: relative;
    top: 40%;

}

.call{
    width: 50px;
}
.profile{
    width: 50px;
    float: left;

}

.marca{
    display: block

}
div.taxistas  {
    width: 100%;
    margin: 20px auto;

    color: #fff;
    padding: 10px;border-radius: 10px;
    animation-name: mover;
    animation-duration: 3s;
}
div.user{


}
.text-bold-font{
    font-weight: bold;
}
div.user img.derecha {
    float: right;
    margin-left: 15px;
}
div.user img.izquierda {
    float: left;
    margin-right: 15px;
}
@keyframes mover {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}
div.taxistas img.derecha {
    float: right;
    margin-left: 15px;
}
div.taxistas img.izquierda {
    float: left;
    margin-right: 15px;
}
div.reset {
    clear: both;
}

h1{
    width: 600px;
    margin: 10px auto;
}
h2{

    margin: 30px auto;
}

/*estrellla*/
label{ color:orange;

}
.black{
    color: black;
}
.black-rgb{
    color: rgba(0, 0, 0, 0.6);
}
.estrellitas{

    position: relative;
    left: 18%;

}
input[type = "radio"]{ display:none;}
.clasificacion{
    direction: rtl;
    unicode-bidi: bidi-override;
}
.from{
    width: 390px;
    height: 800px;
    max-width: 100%;
    margin: auto;
    margin-top: 60px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.75);
    position: relative;
    border-radius: 10px;
    border-bottom-color: #61dafb;

}
body{
    background-color: #61dafb;
}
.fotos svg { margin-left:60px; }